main h2 {
  font-size: 40px;
  background-color: #4c4c4c;
  color: #fff;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

main p {
  color: #333;
  font-size: 20px;
}

ul li h3 {
  text-decoration: overline;
  font-size: 20px;
}
ul li h4 {
  text-decoration: line-through;
  text-align: center;
  font-size: 20px;
}
ul li h5 {
  text-decoration: underline;
  text-align: end;
  font-size: 20px;
}

ul li {
  color: #777;
}
